body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main,
#app {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e5e5e5;
    text-shadow: 2px 1px 5px rgba(64, 64, 64, 0.6);
}

.MuiInputBase-input {
    color: #e5e5e5 !important;
    text-shadow: 2px 1px 5px rgba(64, 64, 64, 0.6);
}

.MuiFormHelperText-root,
.MuiFormLabel-root {
    color: #ddd !important;
    text-shadow: 2px 1px 5px rgba(64, 64, 64, 0.6);
}

#main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#gradient {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
